@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #fbfbfb;
}

.mainpage {
  height: 100vh;
}
.list {
  width: 60%;
  overflow: hidden;
  padding: 1em;
}
.sidebar {
  height: 100vh;
  background: linear-gradient(#eb6b9d, #ff5757);
}
.navigation:hover {
  background-color: rgba(217, 217, 217, 0.15);
}
.newBooking {
  background: linear-gradient(#fb8085, #ff5757);
}
.pfp {
  margin-right: 1em;
}
.bottom {
  height: 3px;

  background-color: #ff5757b6;
}

.target:focus-within::after {
  content: "";
  float: left;
  background: #ff5757;
  width: 100%;
  height: 6px;
  border-radius: 3px;
}
.pagination {
  margin: 0 auto;
  width: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  font-size: 0.8rem;
  padding: 0.3em;
  color: gray;
}

.pagination__link {
  font-weight: bold;
  border: 1px solid rgba(58, 57, 57, 0.664);
  border-radius: 20px;
}

.pagination__link--active a {
  color: black;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
.display_table {
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.1);

  margin: 1em auto;
}
.heading {
  text-align: center;
  padding: 1em;
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heading span {
  width: 100%;
  font-weight: bold;
}
.table_row {
  margin: 1em auto;
  text-align: center;
  width: 100%;
  display: flex;
  padding: 0.6em 1em;
  justify-content: space-between;
  align-items: center;
}

.scrollBox {
  overflow-y: scroll;
}
.table_row span {
  width: 100%;
}

.name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.online {
  background: #35dba2;
  border-radius: 20px;
  color: white;
}
.offline {
  background: #ffca28;
  border-radius: 20px;
  color: white;
}

/* Tab to Desktop */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .box1 {
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    justify-content: space-between;
    padding: 0.5em 1em;
  }
  .search input {
    width: 75%;
  }
  .search input::placeholder {
    font-size: 2vw;
  }
  .optionBox {
    font-size: 0.75rem;
    padding: 1em;
  }
  .location {
    width: 12px;
  }
  .optionBox label {
    font-size: 0.8rem;
  }
  .list {
    width: 100%;
    padding: 0;
  }

  .display_table {
    margin: 0 0.5em;
  }
}
/* Mobile to tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {
  .box1 {
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    justify-content: space-between;
    padding: 0.5em 1em;
  }
  .search input {
    width: 75%;
  }
  .search input::placeholder {
    font-size: 2vw;
  }
  .icon2 {
    width: 10px;
  }
  .newBooking {
    width: 30%;
    font-size: 0.5rem;
    padding: 0 0.5em;
  }
  .newBooking h1 {
    font-size: 0.6rem;
  }
  .box2 {
    font-size: 0.5rem;
    width: 30%;
  }
  .optionBox {
    font-size: 0.75rem;
    padding: 1em;
  }
  .location {
    width: 12px;
  }
  .optionBox label {
    font-size: 0.8rem;
  }

  .list {
    width: 100%;
    padding: 0;
  }
  .display_table {
    margin: 0 0.5em;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .side2 {
    display: flex;
    /* flex-direction: column; */
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .navigation {
    padding: 0;
  }
  .navigation span {
    font-size: 2.2vw;
  }
  .newBooking {
    width: 40%;
    font-size: 0.5rem;
    padding: 0 0.8em;
  }
  .newBooking h1 {
    font-size: 0.6rem;
  }
  .list {
    padding: 1em;
  }
  .offline,
  .online {
    font-size: 2vw;
  }
  .heading {
    font-size: 2.5vw;
  }
  .date {
    font-size: 3vw;
  }
  .package {
    font-size: 2.5vw;
  }
  .name {
    font-size: 2.5vw;
  }
  .navigationTop {
    font-size: 3vw;
  }
}
